.otitle {
  font-size: 0.7em;
  font-weight: bold;
  margin: 3px;
  margin-bottom: 0px;
  padding: 3px;
  border: 1px solid black;
  width: fit-content;
}

.oarea {
  margin: 3px;
  margin-top: -1px;
  padding: 3px;
  min-height: 100px;
  height: fit-content;

  border: 1px solid black;
}